
@media only screen and (max-width: 480px) {
  .fastnews{
    height: 20px;
    width: 100%;
    background-color: rgb(0, 255, 8);
  }
  .mainnews{
        margin: 0px;
}
.imgcol{
  margin-left: 0px;
  
}
}
.gifs {
  animation: slideInLeft 3s ease;
}
.ouraim{
  animation: slideInRight 3s ease;
}
.rotate{
 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg); 
  animation: rotateRevolve 10s linear infinite;;
}

@keyframes rotateRevolve {
  0% {
    transform: translate(-70%, -70%) rotate(0deg);
  }
  20% {
    transform: translate(-20%, -20%) rotate(90deg);
  }
  40% {
    transform: translate(10%, 20%) rotate(180deg);
  }
  60% {
    transform: translate(-20%, -20%) rotate(270deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes slideInRight{
  0%{
      transform: translate(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
    }
}
/* Slide-in animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 480px) {
  .rotate{
    display: none;
  }
  .openbg{
    height: 900px;
  }
  .png7{
    display: none;
  }
}